<div class ="wrapper">

	<nav id = "sidebar">
		<div class="sidebar-header">
			<h3> Chatter</h3>
		</div>
			
			<div ng-controller='ModalCtrl as modal'><button class="btn btn-default" ng-click="modal.open()">Add New Room</button></div>

			<ul class="sidebar-nav">
				<li>
					<a href="#" ng-repeat="room in rooms" ng-click="setCurrentRoom(room)"> {{ room.$value }}</a>
				</li>
			</ul>

		</nav>
	<div id = "content">
		<div class="messages-container">
			<h3> {{ currentRoom.$value }} </h3>
			<div ng-repeat="message in messages">
				{{ message.username }} ({{ message.sentAt }}) <br/>
				 - {{ message.content }}
			</div>
		</div>
	</div>
</div>
